<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <a href="{% url 'home:menu' %}">menu</a>
    <a href="{% url 'home:blog' %}">blog</a>
    <a href="{% url 'home:listas' %}">listas</a>

    
    {% for lista in mi_listas %}
    <div>
     
      <p style="color: brown;">  {{ lista }} </p> </div>  
      
      {% endfor %}
  
    </div>
    {{ mi_listas }}

    {% endblock content %}
</body>
</html>